.expand_col {
 width: 11px;
}
button.expand,
button.collapse {
 width: 9px;
 height: 9px;
 padding: 0px;
 border: none;
 margin: 1px;
 font-size: 0;
}
button.expand {
 background: url('expand.png');
}
button.collapse {
 background: url('collapse.png');
}

.Webwidgets-Widgets-ExpandableTable-ExpandableTable td > .Webwidgets-Widgets-Table-Table {
 margin-left: 10px;
 margin-right: -1px;
 margin-top: -1px;
 margin-bottom: -1px;
}
.Webwidgets-Widgets-ExpandableTable-ExpandableTable td > .Webwidgets-Widgets-Table-Table table {
 border: none;
}
