Source: webwidgets
Section: unknown
Priority: optional
Maintainer: Egil <egil.moller@freecode.no>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: webwidgets
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= ${pyversion}), python (<< ${pynextversion}), webware
Description: The RedBack Webwidgets web programming framework
 RedBack Webwidgets is a framework for web programming built on top of
 Webware, that provides a programming paradigm very similar to that of
 desktop application programming (e.g. Gtk+ or Qt) with widgets and
 callbacks.

Package: webwidgets-doc
Architecture: all
Description: Documentation for the RedBack Webwidgets web programming framework
 RedBack Webwidgets is a framework for web programming built on top of
 Webware, that provides a programming paradigm very similar to that of
 desktop application programming (e.g. Gtk+ or Qt) with widgets and
 callbacks.
