h1 {
 font-variant: small-caps;
 font-size: 18pt;
}

h2 {
 font-variant: small-caps;
 font-size: 16pt;
}

h3 {
 font-variant: small-caps;
 font-size: 14pt;
}

blockquote {
 border: 1px solid #880088;
}

p.intro {
 font-style: italic;
 padding-left: 1em;
}

p.rationale {
 font-style: italic;
 border-left: 2pt solid #880088;
 padding-left: 1em;
}